<form method="POST" action="/new">
  <h1><%=header %></h1>
  <label for="user">Username</label><input name="user" type="text" /> 
  <label for="text">Message</label><input name="text" type="text" />
  <button type="submit">Submit</button>
</form>