<div class="message-card">
  <a href="/<%-id  %>">
    <div class="message-header">
      <h2><%=user %></h2>
      <p><%=added %></p>
    </div>
    <div class="message-body">
      <p><%=text %></p>
    </div>
  </a>
</div>
