<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class="container">
            <div class="message-card">
                  <div class="message-header">
                    <h2><%=user %></h2>
                    <p><%=added %></p>
                  </div>
                  <div class="message-body">
                    <p><%=text %></p>
                  </div>
              </div>
              <button><a href="/">Return to Main Page</a></button>
        </div>
    </body>
</html>